.bg {
    background: transparent url("../../assets/svgimg/sprites.06b14dc5.svg");
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    /* margin: 8px 0px; */
}
.bg:hover {
    cursor: pointer;
}
