@font-face {
    font-family: Regular;
    src: url("../../assets/Fonts/GoogleSans-Regular.77b210bc.woff2");
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: black;
}
.p-dropdown .p-dropdown-trigger {
    width: 1em;
   
    
}
.pi-chevron-down:before {
    font-size: 10px;
}
.p-dropdown .p-dropdown-label {
   padding: 0;
}
.p-dropdown .p-dropdown-label.p-placeholder {
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}.p-dropdown-panel .p-dropdown-items{
    margin: 8px 0px;
    padding: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item  {
    background: #FFF;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
    background: #dfebff;
    color: #000;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    color: #000;
    margin: 0px 8px;
    border-radius: 4px;
    height: 36px;
   
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    /* color: #495057; */
    height: 36px;
    font-family: Regular;
    margin: 0px 8px;
    font-size: 14px;
    border-radius: 4px;
}
.p-dropdown:not(.p-disabled).p-focus{
    outline: none;
    box-shadow: none;
    border-color:none ;
}
.p-dropdown .p-dropdown-label {
    font-size: 14px;
}
.p-dropdown-items-wrapper {
   overflow: inherit;
}
