@import url("../../css/base/sticky.css");
@import url("../../css/base/select--value.css");
@import url("../../css/base/input.css");
@import url("../../css/base/checkbox.css");
@import url("../../css/base/button.css");
@import url("../../css/base/sticky.css");
@import url("../../css/base/scrollbar.css");
@import url("../../css/base/loader.css");
@import url("../../css/base/select.css");
@import url("../../css/base/bg.css");
@import url("../../css/base/tooltip.css");
@import url("../../css/base/triangle.css");
@font-face {
    font-family: hieuFont;
    src: url("../../assets/Fonts/GoogleSans-Bold.5aa86344.woff2");
}

* {
    padding: 0;
    margin: 0;
    font-family: hieuFont;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    color: #000;
    font-size: 14px;
}
.container {
    width: 100%;
    height: 100vh;
}
