.maincontent {
    width: calc(100% - 204px);
    height: 100%;
    padding: 16px 16px;
    background-color: #f4f5f8;
    box-shadow: inset 0 1.5px 2px 0 rgb(0 0 0 / 10%);
}
.maincontent .maincontent--title {
    line-height: 35px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.maincontent .maincontent--toolbar {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.maincontent .maincontent--toolbar .maincontent--toolbar__left {
    display: flex;
    align-items: center;
    position: relative;
}
.maincontent .maincontent--toolbar .maincontent--toolbar__left input {
    width: 265px;
}
.maincontent .maincontent--toolbar .maincontent--toolbar__left .search--icon {
    background-position: -289px -24px;
    position: absolute;
    right: 12px;
}
.maincontent .maincontent--toolbar .maincontent--toolbar__right .right--add .add--icon {
    background-position: -192px -96px;
    display: inline-block;
    margin-right: 8px;
}
.maincontent .maincontent--toolbar .maincontent--toolbar__right .right--add button {
    display: flex;
    align-items: center;
}
.maincontent .maincontent--toolbar .maincontent--toolbar__right .right--click a:hover {
    cursor: pointer;
    text-decoration: underline;
}
